/target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application.properties
src/main/resources/static/bootstrap-4.2.1-dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/