<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Patient Information')"></head>
<body>

<nav th:replace="partials :: navbar"></nav>

<div class="card">
    <div class="card-header">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="emergency-contact-tab" data-toggle="tab" href="#emergency-contact" role="tab" aria-controls="emergency-contact" aria-selected="true">Emergency Contact</a>
            <a class="nav-item nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" role="tab" aria-controls="insurance" aria-selected="false">Insurance</a>
            <a class="nav-item nav-link" id="pharmacy-tab" data-toggle="tab" href="#pharmacy" role="tab" aria-controls="pharmacy" aria-selected="false">Pharmacy</a>
            <a class="nav-item nav-link" id="surgery-tab" data-toggle="tab" href="#surgery" role="tab" aria-controls="surgery" aria-selected="false">Surgery</a>
            <a class="nav-item nav-link" id="medications-tab" data-toggle="tab" href="#medications" role="tab" aria-controls="medications" aria-selected="false">Medication</a>
        </div>
    </div>
    <form method="POST" th:action="@{/patient/info}" class="container tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active card-body" role="tabpanel" aria-labelledby="emergency-contact-tab" id="emergency-contact">
            <ul class="list-group list-group-flush">
                <li class="list-group-item form-group">
                    <label for="contactName">Name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Name" th:field="*{emergencyContact.name}"/>
                </li>
                <li class="list-group-item form-group">
                    <label for="contactRelation">Relation</label>
                    <input type="text" class="form-control" id="contactRelation" placeholder="Relation: ex. mom" th:field="*{emergencyContact.relationshipToPatient}"/>
                </li>
                <li class="list-group-item form-group">
                    <label for="contactPhone" class="form-text">Phone Number:</label>
                    <input type="tel" id="contactPhone" name="contactPhone"
                           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                           required="required" class="form-control" placeholder="000-000-0000" th:field="*{emergencyContact.phoneNumber}" />
                </li>
            </ul>
            <a class="btn btn-primary btnNext float-right mt-2 mb-20px">Next</a>
        </div>
        <div class="tab-pane fade card-body" role="tabpanel" aria-labelledby="insurance-tab" id="insurance">
            <div class="text-center">
                <h5>Please upload a photo of your insurance card.</h5>
                <div id="inline" style="width:600px;height:500px;padding:20px;"></div>
                <div id="thumbnail-container"></div>
            </div>
            <input type="hidden" class="form-control" id="insuranceUrl" name="insuranceUrl"/>
            <div class="mt-2">
                <a class="btn btn-primary btnPrevious">Previous</a>
                <a class="btn btn-primary btnNext float-right">Next</a>
            </div>
        </div>
        <div class="tab-pane fade card-body" role="tabpanel" aria-labelledby="pharmacy-tab" id="pharmacy">
            <ul class="list-group list-group-flush">
                <li class="list-group-item form-group">
                    <label for="pharmacyName">Name</label>
                    <input type="text" class="form-control" id="pharmacyName" placeholder="Pharmacy Name" th:field="*{pharmacy.name}"/>
                </li>
                <li class="list-group-item form-group">
                    <label for="pharmacyAddress">Pharmacy Address</label>
                    <input type="text" class="form-control" id="pharmacyAddress" placeholder="Pharmacy Address" th:field="*{pharmacy.address}"/>
                </li>
                <li class="list-group-item form-group">
                    <label for="pharmacyPhone" class="form-text">Phone Number:</label>
                    <input type="tel" id="pharmacyPhone" name="pharmacyPhone"
                           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                           required="required" class="form-control" placeholder="000-000-0000" th:field="*{pharmacy.phoneNumber}"/>
                </li>
            </ul>
            <div class="mt-2">
                <a class="btn btn-primary btnPrevious">Previous</a>
                <a class="btn btn-primary btnNext float-right">Next</a>
            </div>
        </div>
        <div class="tab-pane fade card-body" role="tabpanel" aria-labelledby="surgery-tab" id="surgery">
            <section>
                <small>Surgery One</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="operation1">Operation</label>
                        <input type="text" class="form-control" id="operation1" placeholder="Operation" th:field="${surgery1.operation}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="operationDate1" class="form-text">Date of Operation:</label>
                        <input type="date" id="operationDate1" name="operationDate1"
                               class="form-control" th:field="${surgery1.date}"/>
                    </li>
                </ul>
                <button type="button" name="add-more" class="add-more btn btn-primary">Add More</button>
            </section>
            <section class="d-none">
                <small>Surgery Two</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="operation2">Operation</label>
                        <input type="text" class="form-control" id="operation2" placeholder="Operation" th:field="${surgery2.operation}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="operationDate2" class="form-text">Date of Operation:</label>
                        <input type="date" id="operationDate2" name="operationDate2"
                               class="form-control" th:field="${surgery2.date}"/>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger remove-me" >Remove</button>
                <button type="button" name="add-more" class="add-more btn btn-primary">Add More</button>
            </section>
            <section class="d-none">
                <small>Surgery Three</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="operation3">Operation</label>
                        <input type="text" class="form-control" id="operation3" placeholder="Operation" th:field="${surgery3.operation}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="operationDate3" class="form-text">Date of Operation:</label>
                        <input type="date" id="operationDate3" name="operationDate3"
                               class="form-control" th:field="${surgery3.date}"/>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger remove-me" >Remove</button>
            </section>
            <div class="form-group">
                <div class="mt-2">
                    <a class="btn btn-primary btnPrevious">Previous</a>
                    <a class="btn btn-primary btnNext float-right">Next</a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade card-body" role="tabpanel" aria-labelledby="medications-tab" id="medications">
            <section>
                <small>Medication One</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="medicationName1">Medication Name</label>
                        <input type="text" class="form-control" id="medicationName1" placeholder="Medication Name" th:field="${medication1.name}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="medicationDose1">Medication Dose</label>
                        <input type="number" class="form-control" id="medicationDose1" placeholder="Medication Dose" th:field="${medication1.dose}"/>
                    </li>
                </ul>
                <button type="button" name="add-more" class="add-more btn btn-primary">Add More</button>
            </section>
            <section class="d-none">
                <small>Medication Two</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="medicationName2">Medication Name</label>
                        <input type="text" class="form-control" id="medicationName2" placeholder="Medication Name" th:field="${medication2.name}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="medicationDose2">Medication Dose</label>
                        <input type="number" class="form-control" id="medicationDose2" placeholder="Medication Dose" th:field="${medication2.dose}"/>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger remove-me">Remove</button>
                <button type="button" name="add-more" class="add-more btn btn-primary">Add More</button>
            </section>
            <section class="d-none">
                <small>Medication Three</small>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group">
                        <label for="medicationName3">Medication Name</label>
                        <input type="text" class="form-control" id="medicationName3" placeholder="Medication Name" th:field="${medication3.name}"/>
                    </li>
                    <li class="list-group-item form-group">
                        <label for="medicationDose3">Medication Dose</label>
                        <input type="number" class="form-control" id="medicationDose3" placeholder="Medication Dose" th:field="${medication3.dose}"/>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger remove-me">Remove</button>
            </section>
            <div class="form-group">
                <div class="mt-2">
                    <a class="btn btn-primary btnPrevious">Previous</a>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>




<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
<script src="/js/information.js"></script>
<script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
</body>
</html>