body,
.medical-blue{
    background-color: #1c5d8e;
}

.mapCard {
    /*background-color: rgb(241, 243,	244);*/
    background-color: rgb(248, 249, 250);
}

.map-style,
.directions{
    height: 30em;
}
.overflow-list,
.directions {
    overflow-y: auto;
}

.results-size{
    height: 29.75em;
}

.list-size{
    height: 23em;
}

.map-style{
    overflow: hidden;
}

.card {
    background-color: rgb(241, 243, 244);
}

/*//////////////dashboard styling/////////////////*/
.dashboardContainer, .patientDashboardContainer {
    background-color: rgb(241, 243, 244);
}
.findADoctorDashboardCard, .bookAppointmentDashboardCard {
    background-color:  rgb(242, 242, 242);
}
/*.dashboardDisplay {*/
/*background-color: rgb(241, 243, 244);*/
/*}*/
/*td { vertical-align: top;*/
/*height: 40px; overflow: hidden;*/
/*}*/
/*td { height: 40px; overflow: hidden; }*/
.table-cursor,
.mobile-button {
    cursor:pointer;
}
.border {
    border-radius: 20%;
}


@media screen and (max-width:768px) {
    .map-style{
        height: 10em;
        overflow: hidden;
    }

    .directions{
        height: 20em;
    }

    img {
        width:100%;
    }
    .container {
        max-width:100%;
        width: 100%;
    }
}
@media (max-width: 1190px) and (min-width: 992px){
    .mariaName {
        padding-top: 10px;
    }
    .mariaIconRow {
        padding-top: 23px;
    }
}