.map-style,
.directions{
    height: 30em;
}
.overflow-list,
.directions {
    overflow-y: auto;
}

.results-size{
    height: 29.75em;
}

.list-size{
    height: 23em;
}

.map-style{
    overflow: hidden;
}



/*style="height: 100vh; overflow: hidden;"*/
/*style="height: 100%"*/