<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head(${name} + '\'s Dashboard')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>

<div class="container-fluid">
    <!--PATIENT SECTION-->
    <div th:if="${isPatient == true}">
        <div class="container mt-5 p-0">
            <div class="header text-light text-left">
                <h1>Welcome back!</h1>
            </div>
        </div>
        <div class="container mb-xxxl p-3 rounded patientDashboardContainer">
            <h4 class="pb-0 text-left">Here are your appointments</h4>

            <div class="row dashboardPatientRow">
                <div class="col patientAppointmentsCol rounded">
                    <div class="table-responsive overflow-hidden">
                        <table class="table m-0 border border-light table-cursor">
                            <thead class="bg-info">
                            <tr>
                                <th>Doctor</th>
                                <th>Date/Time</th>
                                <th class="d-none d-lg-table-cell">Location</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody class="bg-light">
                            <div th:each="appointment : ${appointments}">
                                <tr>
                                    <td class="pt-4">
                                        <span th:text="'Dr. ' + ${appointment.doctor.firstName} + ' ' + ${appointment.doctor.lastName}"></span>
                                        <a th:href="@{/patient/directions/{id}(id = ${appointment.id})}" class="btn btn-success d-lg-none">Directions</a>
                                    </td>
                                    <td class="pt-4" th:text="${appointment.time}"></td>
                                    <td class="d-none d-lg-table-cell">
                                        <div class="my-2" th:text="${appointment.location}"></div>
                                        <a th:href="@{/patient/directions/{id}(id = ${appointment.id})}" class="btn btn-link p-0">Get Directions</a>
                                    </td>
                                    <td>
                                        <div class="row pt-3">
                                            <div class="col-12 col-md-6 justify-content-center">
                                                <form th:action="@{/patient/appointment/update-time/{id}(id = ${appointment.id})}" th:method="POST">
                                                    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#updateAppointment">Edit</button>
                                                    <div class="modal fade" id="updateAppointment" tabindex="-1" role="dialog" aria-labelledby="updateAppointmentLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header text-center">
                                                                    <h5 class="modal-title">Update Appointment Date and Time</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <label for="appointment-date-input" class="col-form-label">Date</label>
                                                                    <div>
                                                                        <input class="form-control" type="date" value="yyy-MM-dd" id="appointment-date-input" name="date"/>
                                                                    </div>
                                                                    <div>
                                                                        <label for="appointment-time-input" class="col-form-label">Select a Time</label>
                                                                        <div id="appointment-time-input" class="row" data-toggle="buttons">
                                                                            <div class="col-4 offset-1">
                                                                                <div><small>Before Lunch:</small></div>
                                                                                <div></div>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="1000" value="10:00 AM"/> 10:00 AM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="1030" value="10:30 AM"/> 10:30 AM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="1100" value="11:00 AM"/> 11:00 AM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="1130" value="11:30 AM"/> 11:30 AM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="100" value="1:00 PM"/> &nbsp; 1:00 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="130" value="1:30 PM"/> &nbsp; 1:30 PM
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-4 offset-2">
                                                                                <div><small>After Lunch:</small></div>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="200" value="2:00 PM"/> &nbsp; 2:00 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="230" value="2:30 PM"/> &nbsp; 2:30 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="300" value="3:00 PM"/> &nbsp; 3:00 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="330" value="3:30 PM"/> &nbsp; 3:30 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="400" value="4:00 PM"/> &nbsp; 4:00 PM
                                                                                </label>
                                                                                <label class="btn btn-primary btn-block">
                                                                                    <input type="radio" name="time" id="430" value="4:30 PM"/> &nbsp; 4:30 PM
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary mobile-button" data-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-success mobile-button">Update</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-12 col-md-6 mt-2 mt-md-0 justify-content-center">
                                                <form th:action="@{/patient/appointment/delete/{id}(id = ${appointment.id})}" th:method="POST">
                                                    <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#deleteAppointment">Cancel</button>
                                                    <div class="modal fade" id="deleteAppointment" tabindex="-1" role="dialog" aria-labelledby="deleteAppointmentLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    Are you sure you want to cancel the appointment?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button mobile-button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                    <button type="submit mobile-button" class="btn btn-danger">Yes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container mt-5 pt-0 pb-3 pl-3 pr-3 rounded patientDashboardOptions">
                    <h4 class="pb-0 text-left">What would you like to do?</h4>

                    <div class="card-deck">
                        <div class="card findADoctorDashboardCard">
                            <div class="card-header bg-info text-center">
                                Find a Doctor
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text">As a member of PatientPlus, it is now easy to find a doctor in your city with your insurance plan. See for yourself right now!</p>
                                <a href="/find-doctor" class="btn btn-primary">Find now</a>
                            </div>
                        </div>
                        <div class="card bookAppointmentDashboardCard">
                            <div class="card-header bg-info text-center">
                                Book Appointment
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text">PatientPlus members can now book a doctor's appointment whenever and wherever. It's that simple!</p>
                                <a href="/patient/appointment/create" class="btn btn-primary">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--DOCTOR SECTION-->
    <div th:if="${isPatient == false}">
        <div class="container mt-5 p-0">
            <div class="header text-light text-left">
                <h1>Welcome back, Doctor!</h1>
            </div>
        </div>
        <div class="container p-3 rounded dashboardContainer">
            <h4 class="pb-0 text-left">Here's your schedule</h4>
            <span class="numberOfAppointments d-none" th:name="${#lists.size(appointments)}"></span>


            <!--APPOINTMENTS LIST-->
            <div class="row dashboardRow">
                <div class="col-6 upcomingAppointmentsCol">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead class="bg-info">
                            <tr>
                                <th>Patient</th>
                                <th>Date/Time</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody class="bg-light">
                            <div th:each="appointment : ${appointments}">
                                <tr>
                                    <td th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></td>
                                    <td class="patient" th:id="${appointment.patient.id}" th:text="${appointment.time}"></td>
                                    <td class="text-center">
                                        <button class="btn btn-primary mb-2" id="view-btn" type="button" data-toggle="collapse" style="width: 135px;">View Profile</button>
                                        <form th:action="@{/doctor/send-appointment-reminder/{id}(id = ${appointment.patient.id})}" th:method="POST">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#appointmentReminder">Send Reminder</button>
                                            <div class="modal fade" id="appointmentReminder" tabindex="-1" role="dialog" aria-labelledby="appointmentReminderLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header text-center">
                                                            <h5 class="modal-title">Create Appointment Reminder</h5>
                                                        </div>
                                                        <div class="modal-body text-left">
                                                            <label for="appointmentReminderInput">Write Message To Patient:</label>
                                                            <textarea cols="40" rows="5" type="text" class="form-control" id="appointmentReminderInput" style="resize: none;" name="messageBody"
                                                                      th:text="'Hello, ' + ${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName} + '. This is a reminder from Dr. ' + ${appointment.doctor.firstName} + ' ' + ${appointment.doctor.lastName} + ' about your appointment on ' + ${appointment.time} + '.'"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-success">Send</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--TABLE FOR PATIENT-->
                <div class="col-6 patientProfileToggleCol">
                    <div class="table-responsive">
                        <table class="table table-hover m-0">
                            <thead class="bg-info">
                            <tr>
                                <th>Patient's Profile</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-row" th:each="appointment : ${appointments}">
                                <td class="collapse" th:id="'patient' + ${appointment.patient.id}">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title" th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></h5>
                                            </div>
                                            <div class="col-6 pl-4">
                                                <h6 class="card-subtitle mb-2 text-muted" th:text="'Phone Number: ' + ${appointment.patient.phoneNumber}"></h6>
                                                <h6 class="card-subtitle mb-2 text-muted" th:text="'DOB: ' + ${appointment.patient.dateOfBirth}"></h6>
                                                <p class="mb-0">Insurance:</p>
                                                <div class="text-center" th:if="${appointment.patient.insurance} != null">
                                                    <img class="img-fluid mt-0 mx-2 mb-2" src="" th:src="${appointment.patient.insurance.imgURL}" alt="insurance-image"/>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="card-subtitle mb-2" th:if="${#lists.size(appointment.patient.prescriptions)} != 0">Current Prescriptions:</h6>
                                                <p class="card-text" th:if="${#lists.size(appointment.patient.prescriptions)} == 0">No prescriptions for this patient!</p>
                                                <p class="card-text" th:if="${#lists.size(appointment.patient.prescriptions)} != 0" th:each="prescription : ${appointment.patient.prescriptions}">-<span th:text="${prescription.name}"></span></p>
                                                <a th:href="@{/doctor/write-prescription/{id}(id = ${appointment.patient.id})}" class="card-link d-block text-center">Write Prescription</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
<script src="/js/doctorDashboard.js"></script>
</body>
</html>