<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Doctor Dashboard')">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
</head>
<style>
    body {
        background-color: white;
    }
    td { vertical-align: top;
        height: 40px; overflow: hidden;
    }
    /*td { height: 40px; overflow: hidden; }*/
    .table-row{
        cursor:pointer;
    }
</style>
<body th:fragment="profileBody">

<div class="container">
    <div class="table-responsive table-bordered table-hover">
        <table class="table table-striped w-100" align="center">
            <caption>Click patient's name to view profile</caption>

            <!--<form method="GET" th:action="@{/appointments/{id}(id=${appointment.getId()})}" th:id="${appointment.getId()}">-->
            <!--<div th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'">-->
            <!--<h3 th:text="${appointment.getTime()()}"></h3>-->
            <!--<p th:text="${appointment.getLocation()}"></p>-->
            <!--</div>-->
            <!--</form>-->

            <thead class="bg-info">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Clinic</th>
                <th scope="col">Profile</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="appointment : ${appointments}" th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'" class="table-row" data-th-href="@{/appointments/{id}(id=${appointment.getId()})}" th:id="${appointment.getId()}">
                <!--<div th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'">-->
                <td th:text="${appointment.getTime()()}"></td>
                <td th:text="${appointment.getLocation()}"></td>
                <td th:text="${appointment.getId()}"></td>
                <!--</div>-->
                <!--<td>Stephen Ray Guedea</td>-->
                <!--<td>Jan 24, 2019 2:00PM</td>-->
                <!--<td>210-323-5841 sguedea@yahoo.com</td>-->
                <!--<td>view profile</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>