<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')"></head>
<link rel="stylesheet" href="/css/homeNavbar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<body>
    <!--<nav th:replace="partials :: navbar"></nav>-->
    <div class="topnav">
        <a class="active" href="#home">PatientPlus</a>
        <div class="login-container">

            <form th:action="@{/login}" method="POST" class="loginForm">
                <span class="mr-xs">Already have an account?</span>
                <small th:if="${param.error}">Invalid Username and/or Password.</small>
                <small th:if="${param.logout}">You have been logged out.</small>
                <input type="email" required="required" placeholder="Email" name="username" id="username" />
                <input type="password" required="required" placeholder="Password" name="password" id="password" />
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <div class="hero"></div>


        <div class="container align-self-center">
            <div class="row">
                <div class="col aboutCompanyCol">
                    <div class="card">
                        <div class="card-body companyCard">
                            <h1>PatientPlus</h1>
                            <img width="50" height="50" src="/static/img/search.png" th:src="@{/img/search.png}" /><h3>Find a doctor</h3>



                            <img width="50" height="50" src="/static/img/deadline.png" th:src="@{/img/deadline.png}" /><h3>Book an Appointment</h3>


                            <img width="50" height="50" src="/static/img/smartphone%20(1).png" th:src="@{/img/smartphone%20(1).png}" /><h3>Simple and easy!</h3>


                        </div>
                    </div>
                </div>
                <div class="col formCol">
                    <div class="card">
                        <div class="card-body">
                            <h1>Sign Up!</h1>
                            <p>Get PatientPlus</p>

                            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <label>
                                            <input class="btn-outline-info" type="radio" name="userType" th:field="*{patient}" th:value="false" />
                                            <img width="50" height="50" src="/static/img/stethoscope%20(1).png" th:src="@{/img/stethoscope%20(1).png}" />
                                            Doctor
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <label>
                                            <input class="btn-outline-info" type="radio" name="userType" th:field="*{patient}" th:value="true" />
                                            <img width="50" height="50" src="/static/img/healthcare.png" th:src="@{/img/healthcare.png}" />
                                            Patient
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <input type="email" size="30" required="required" class="form-control" th:field="*{username}" id="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-row mt-s">
                                    <div class="col-md-6 mb-2">
                                        <input type="text" required="required" class="form-control" id="firstName" th:field="*{firstName}" placeholder="First name"  />
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <input type="text" required="required" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last name" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="dateOfBirth" class="form-text text-muted ml-1 mb-0">Date of Birth:</label>
                                        <input type="date" id="dateOfBirth" name="dateOfBirth"
                                               required="required" class="form-control" th:field="*{dateOfBirth}" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="phone" class="form-text text-muted ml-1 mb-0">Phone Number:</label>
                                        <input type="tel" id="phone" name="phone"
                                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                               required="required" class="form-control" th:field="*{phoneNumber}" placeholder="000-000-0000" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <input type="password" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" class="form-control" id="pass" th:field="*{password}" placeholder="Password"/>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be 8-20 characters long, contain at least one upper and one lowercase letter, at least one number, and must not contain spaces, special characters, or emoji.
                                        </small>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<div class="form-check">-->
                                        <!--<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />-->
                                        <!--<label class="form-check-label" for="invalidCheck">-->
                                            <!--Agree to terms and conditions-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <button class="btn btn-primary mt-s" type="submit">Register!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    <footer th:replace="partials :: footer"></footer>
    <span th:replace="partials :: scripts"></span>
</body>
</html>