<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')"></head>
<link rel="stylesheet" href="/css/patientPlus.css" />
<body>
    <nav th:replace="partials :: navbar"></nav>

    <div class="hero"></div>


        <div class="container align-self-center">
            <div class="row">
                <div class="col aboutCompanyCol">
                    <div class="card">
                        <div class="card-body companyCard">
                            <h1>PatientPlus</h1>
                            <img width="50" height="50" src="/static/img/search.png" th:src="@{/img/search.png}" /><h3>Find a doctor</h3>



                            <img width="50" height="50" src="/static/img/deadline.png" th:src="@{/img/deadline.png}" /><h3>Book an Appointment</h3>


                            <img width="50" height="50" src="/static/img/smartphone%20(1).png" th:src="@{/img/smartphone%20(1).png}" /><h3>Simple and easy!</h3>
                            <div class="text-center">
                                <a id="searchDoctor" name="searchDoctor" href="#" class="btn btn-success btn-lg">Search now!</a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col formCol">
                    <div class="card">
                        <div class="card-body">
                            <h1>Sign Up!</h1>
                            <p>Get PatientPlus</p>

                            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-6 col-6 patient-doctor-btn">
                                        <label>
                                            <input class="btn-outline-info" type="radio" name="userType" th:field="*{patient}" th:value="false" />
                                            <img class="icon-img" src="/static/img/stethoscope%20(1).png" th:src="@{/img/stethoscope%20(1).png}" />
                                            Doctor
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 patient-doctor-btn">
                                        <label>
                                            <input class="btn-outline-info" type="radio" name="userType" th:field="*{patient}" th:value="true" />
                                            <img class="icon-img" src="/static/img/healthcare.png" th:src="@{/img/healthcare.png}" />
                                            Patient
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <input th:if="!${sameEmail == true}" type="email" size="30" required="required" class="form-control" th:field="*{username}" id="email" placeholder="Email" />
                                        <input th:if="${sameEmail == true}" type="email" size="30" required="required" class="form-control is-invalid" th:field="*{username}" id="email" placeholder="Email" />
                                        <small th:if="${sameEmail == true}" style="position: absolute;" class="m-0 p-0 text-danger">Email already exists!</small>
                                    </div>
                                </div>
                                <div class="form-row mt-s">
                                    <div class="col-md-6 mb-2">
                                        <input type="text" required="required" class="form-control" id="firstName" th:field="*{firstName}" placeholder="First name"  />
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <input type="text" required="required" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last name" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="dateOfBirth" class="form-text text-muted ml-1 mb-0">Date of Birth:</label>
                                        <input type="date" id="dateOfBirth" name="dateOfBirth" max="2999-12-31" min="1920-12-31"
                                               required="required" class="form-control" th:field="*{dateOfBirth}" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="phone" class="form-text text-muted ml-1 mb-0">Phone Number:</label>
                                        <input type="tel" id="phone" name="phone"
                                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                               required="required" class="form-control" th:field="*{phoneNumber}" placeholder="000-000-0000" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <input type="password" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" class="form-control" id="pass" th:field="*{password}" placeholder="Password"/>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be 8-20 characters long, contain at least one upper and one lowercase letter, at least one number, and must not contain spaces, special characters, or emoji.
                                        </small>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<div class="form-check">-->
                                        <!--<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />-->
                                        <!--<label class="form-check-label" for="invalidCheck">-->
                                            <!--Agree to terms and conditions-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <button class="btn btn-primary mt-s" type="submit">Register!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    <footer th:replace="partials :: footer"></footer>
    <span th:replace="partials :: scripts"></span>
</body>
</html>