<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Find a Doctor')"/>
<link rel="stylesheet" href="/css/team.css"/>

<body>
<nav th:replace="partials :: navbar"></nav>
<!--
* styles shouldn't be applied on top of existing bootstrap classes
* try to add styles using classes
-->
<section id="team" class="section pl-3 pr-3">
    <div class="container">
        <h2 class="section-head mt-3 text-white text-center">Meet The Team</h2>
        <p class="text-center text-white">The developers behind PatientPlus</p>
    <div class="row">
        <div class="card-deck pl-5 pr-5">
            <div class="col-lg 3 col-md-4 col-sm-12 col-xs-12 mt-2">
                <div class="card">
                    <img class="card-img-top" src="/img/mattImage.jpeg" alt="Card image cap"/>
                    <div class="card-body">
                        <h3 class="card-title text-center">Matthew Brozusky</h3>
                        <div class="row justify-content-center">
                            <a href="mailto:matthew.brozusky@gmail.com">
                                <i class="fas fa-envelope-square fa-3x"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/matthew-brozusky-2a8239171/">
                                <i class="fab fa-linkedin fa-3x pr-2 pl-2"></i>
                            </a>
                            <a href="https://github.com/MattBrozusky">
                                <i class="fab fa-github-square fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg 3 col-md-4 col-sm-12 col-xs-12 mt-2">
                <div class="card">
                    <img class="card-img-top" src="/img/mariaImage.png" alt="Card image cap"/>
                    <div class="card-body">
                        <h3 class="card-title text-center mariaName">Maria Vela</h3>
                        <div class="row justify-content-center mariaIconRow">
                            <a href="mailto:maria.vela790@gmail.com">
                                <i class="fas fa-envelope-square fa-3x"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/montserrat-maria-vela/">
                                <i class="fab fa-linkedin fa-3x pr-2 pl-2"></i>
                            </a>
                            <a href="https://github.com/mariaVela790">
                                <i class="fab fa-github-square fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg 3 col-md-4 col-sm-12 col-xs-12 mt-2">
                <div class="card">
                    <img class="card-img-top" src="/img/stephenImage.jpeg" alt="Card image cap"/>
                    <div class="card-body">
                        <h3 class="card-title text-center">Stephen Guedea</h3>
                        <div class="row justify-content-center">
                            <a href="mailto:guedea.stephen@gmail.com">
                                <i class="fas fa-envelope-square fa-3x text-center"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/stephen-guedea/">
                                <i class="fab fa-linkedin fa-3x text-center pr-2 pl-2"></i>
                            </a>
                            <a href="https://github.com/stephenguedea">
                                <i class="fab fa-github-square fa-3x text-center"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<footer th:replace="partials :: footer"></footer>


<span th:replace="partials :: scripts"/>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/js/search.js"></script>

</body>
</html>