<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="icon" href="/img/finalLogo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/spaces.css"/>
    <link rel="stylesheet" href="/css/homeNavbar.css" />
    <link rel="stylesheet" href="/css/navDropdown.css"/>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<nav th:fragment="navbar">

    <div class="topnav">
        <a class="nav-bar-brand p-0 text-center text-md-left mt-1 mt-sm-0" href="/">
            <img src="/img/mainnlogo.png" class="mainLogo" style="width: 88px;height: 53px;"/>
        </a>
        <ul class="nav justify-content-md-end justify-content-center">
            <li class="login-container text-center text-md-left" sec:authorize="!isAuthenticated()">
                <form th:action="@{/login}" method="POST" class="loginForm">
                    <span th:if="${failedLogin} == true" class="mr-xs text-danger">Email or Password not valid!</span>
                    <input th:if="${failedLogin} == true" class="has-error" type="email" required="required" placeholder="Email" name="username" id="username" />
                    <input th:if="${failedLogin} == true" class="has-error" type="password" required="required" placeholder="Password" name="password" id="password" />
                    <span th:if="!${failedLogin} == true" class="mr-xs d-none d-md-inline">Already have an account?</span>
                    <input th:if="!${failedLogin} == true" type="email" required="required" placeholder="Email" name="username" id="username" />
                    <input th:if="!${failedLogin} == true" type="password" required="required" placeholder="Password" name="password" id="password" />
                    <button class="mx-auto my-1 my-sm-auto mx-sm-2 text-center" type="submit">Login</button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown" href="#" id="navbarDropdown">Profile<i class="fas fa-caret-down ml-1"></i></a>
                <div class="dropdown-content d-none">
                    <a class="text-left" th:href="@{/{id}/dashboard(id=${#authentication.principal.id})}"><i class="fas fa-user mr-1"></i>Dashboard</a>
                    <a class="text-left" href="/user/edit-info"><i class="fas fa-pencil-alt mr-1"></i>Edit Info</a>
                    <a class="text-left" th:if="(${#authentication.principal.patient} == true)" href="/patient/info"><i class="fas fa-notes-medical mr-1"></i>Medical History</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="p-0" href="#"><form class="nav-link p-0" th:action="@{/logout}" th:method="POST" id="logout">
                    <a onclick="document.getElementById('logout').submit();"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
                </form></a>
            </li>
        </ul>
    </div>
</nav>


<footer class="overflow-hidden" th:fragment="footer">
    <!-- Footer -->
    <div class="fancy-footer row p-4 bg-light justify-content-center mt-2">
        <div class="col-6 text-white">
            <a class="text-muted" href="/">Home</a>
            <span>|</span>
            <a class="text-muted" href="/find-doctor">Find A Doctor</a>
            <span>|</span>
            <a class="text-muted" href="/meet-the-team">Meet the Team</a>
        </div>
        <!-- Copyright -->
        <div class="col-6 text-black text-right">
        © 2019 PatientPlus,
        All Rights Reserved
        </div>
    </div>

    <!-- Footer -->
</footer>
<span th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/js/nav-footer.js"></script>
</span>
</body>
</html>