<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Write Presciption')"></head>
<style>
    body {
        background-color: #1c5d8e;
    }
</style>
<body>
<nav th:replace="partials :: navbar"></nav>

<div class="container rounded bg-white w-50 mt-2">
    <div class="row">
        <header class="col-12 text-center my-2">
            <h4>Make Prescription</h4>
        </header>
    </div>
    <form th:action="@{/doctor/write-prescription/{id}(id = ${patientId})}" method="POST" th:object="${prescription}">
        <div class="row">
            <div class="col-12 my-2">
                <label for="name" class="form-text text-muted mb-0">Name of Prescription</label>
                <input th:field="${prescription.name}" type="text" size="30" required="required" class="form-control" name="name" id="name" />
            </div>
            <div class="col-12 my-2">
                <label for="dosage" class="form-text text-muted mb-0">Dose</label>
                <input th:field="${prescription.dosage}" type="text" size="30" required="required" class="form-control" name="dosage" id="dosage" />
            </div>
            <div class="col-12 my-2">
                <label for="instructions" class="form-text text-muted mb-0">Prescription Instructions</label>
                <textarea th:field="${prescription.instructions}" rows="4" required="required" class="form-control" name="instructions" id="instructions" style="resize: none;"></textarea>
            </div>
            <div class="col-12 my-2">
                <label for="startDate" class="form-text text-muted mb-0">Start Date:</label>
                <input type="date" id="startDate" name="startDate"
                       class="form-control" />
            </div>
            <div class="col-12 my-2">
                <label for="endDate" class="form-text text-muted mb-0">End Date:</label>
                <input type="date" id="endDate" name="endDate"
                       class="form-control" />
            </div>
            <div class="col-12 text-center my-2">
                <button class="btn btn-primary mt-s" type="submit">Submit Prescription</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
</body>
</html>