<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Find a Doctor')"/>
<link rel="stylesheet" href="/css/generalStyles.css" />

<body>
<nav th:replace="partials :: navbar"></nav>
<!--
* styles shouldn't be applied on top of existing bootstrap classes
* try to add styles using classes
-->

<div class="container align-self-center mt-4">
    <div class="row pt-3">
        <div class="col aboutCompanyCol">
            <div class="card">
                <div class="card-body companyCard">
                    <h3 class="card-title">Search</h3>
                    <form href="#" action="get">
                        <div class="input-group input-group-sm">
                            <label for="doctor-first-name" class="pr-4">
                                <span>First Name:</span>
                                <input type="text" class="form-control" id="doctor-first-name"/>
                            </label>
                            <label for="doctor-last-name">
                                <span>Last Name:</span>
                                <input type="text" id="doctor-last-name" class="form-control"/>
                            </label>
                        </div>

                        <div class="input-group input-group-sm mb-3">

                        </div>


                        <div class="input-group input-group-sm mb-3">
                            <label for="insurances">
                                <span>Insurance Providers: </span>
                                <select name="insurance-providers" id="insurances" class="form-control">
                                    <div id="options"></div>
                                </select>
                            </label>
                        </div>


                        <div class="input-group input-group-lg mb-3">
                            <label for="plans" class="pr-4">
                                <span>Insurance Plans:</span>
                                <select name="insurance-plans" id="plans" class="form-control"></select>
                            </label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <label for="zipcode">
                                <span>Zipcode/State/City:</span>
                                <input name="zipcode" id="zipcode" class="form-control" type="text"/>
                            </label>
                        </div>
                        <button class="btn btn-success btn-lg" id="search-btn">Search</button>


                    </form>

                </div>
            </div>
        </div>
        <div class="col formCol">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Results</h3>
                    <ul class="list-group list-group-flush" id="results-list">
                        <!--generate list of results with list-group-item class-->
                        <li class="list-group-item">No Results Available</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>

<span th:replace="partials :: scripts"/>
<script src="/js/search.js"></script>

</body>
</html>