<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Doctor Dashboard')"/>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12" th:each="appointment : ${appointments}">
            <p th:text="${appointment.time}"></p>
            <!--This should show up when the user is a doctor-->
            <form action="get" th:href="">
                <!--Link to paperwork filled out by patient-->
                <button>View Profile</button>
            </form>

            <!--This should show up if the user is a patient-->
            <form action="get" th:href="">
                <!--Link to paperwork for appoitnment-->
                <button>View Appointment Details</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>