<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')"></head>
<body>

<nav th:replace="partials :: navbar"></nav>

<div>
    <h3>Create an Account</h3>
    <form class="" th:action="@{/sign-up}" method="POST" th:object="${user}">
        <div>
            <label for="username">Username</label>
            <input th:if="${#fields.hasErrors('username')}" id="username" th:field="*{username}"/>
            <input th:if="!${#fields.hasErrors('username')}"  id="username" th:field="*{username}" placeholder="Username"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div>
            <label for="email">Email</label>
            <input th:if="${#fields.hasErrors('email')}" class="" id="email" th:field="*{email}"/>
            <input th:if="!${#fields.hasErrors('email')}" class="" id="email" th:field="*{email}" placeholder="email@example.com"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div>
            <label class="uk-form-label uk-text-left" for="password">Password</label>
            <input th:if="${#fields.hasErrors('password')}" class="" id="password" type="password" th:field="*{password}"/>
            <input th:if="!${#fields.hasErrors('password')}" class="" id="password" type="password" th:field="*{password}" placeholder="Password"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div>
            <button type="submit">Register!</button>
        </div>
    </form>


</div>

<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
</body>
</html>