<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Create Appointment')">
</head>
<style>
    body {
        background-color: #1c5d8e;
    }
</style>
<body>
<nav th:replace="partials :: navbar"></nav>

    <div class="container mt-5 p-0 createAppointmentContainer">
        <div class="header text-light text-left">
            <h1>Book an Appointment</h1>
        </div>
        <section class="rounded bg-light">
            <form class="col-12" th:action="@{/patient/appointment/create}" th:method="POST" th:object="${appointment}">
                <div class="row pt-5 rounded appointmentSelectionRow">
                    <div class="col-6 pt-0 pb-5 rounded">
                        <div class="card selectDoctorCard border-0">
                            <div class="card-body pt-0 selectDoctorCardBody border-0">
                                <label for="appointment-doctor-input" class="col-form-label">Select a Doctor</label>
                                <div>
                                    <select class="form-control" id="appointment-doctor-input" name="selectedDoctor">
                                        <div th:if="${newDoctor != null}">
                                            <option th:each="doctorOption : ${doctors}"
                                                    th:value="${doctorOption.getId()}"
                                                    th:text="${doctorOption.getFirstName()} + ' ' + ${doctorOption.getLastName()}"
                                                    th:selected="${doctorOption.getId()} == ${newDoctor.getId()}"
                                            >
                                            </option>
                                        </div>
                                        <div th:unless="${newDoctor != null}">
                                            <option th:each="doctorOption : ${doctors}"
                                                    th:value="${doctorOption.getId()}"
                                                    th:text="${doctorOption.getFirstName()} + ' ' + ${doctorOption.getLastName()}" >
                                            </option>
                                        </div>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <h3>Need a different doctor?</h3>
                            <a id="findDoctor" name="searchDoctor" href="/find-doctor" class="btn btn-success btn-lg">Find One Here</a>
                        </div>
                    </div>

                    <div class="col-6 pt-0 pb-5 rounded">
                        <div class="card selectDateAndTimeCard border-0">
                            <div class="card-body pt-0 selectDateAndTimeCardBody border-0">
                                <label for="appointment-date-input" class="col-form-label">Date</label>
                                <div>
                                    <input class="form-control" type="date" value="yyy-MM-dd" id="appointment-date-input" name="date"/>
                                </div>
                                <div>
                                    <label for="appointment-time-input" class="col-form-label">Select a Time</label>
                                        <div id="appointment-time-input" class="btn-group row" data-toggle="buttons">
                                            <div class="col-6">
                                                <div><small>Before Lunch:</small></div>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="1000" value="10:00 AM"/> 10:00 AM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="1030" value="10:30 AM"/> 10:30 AM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="1100" value="11:00 AM"/> 11:00 AM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="1130" value="11:30 AM"/> 11:30 AM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="100" value="1:00 PM"/> &nbsp; 1:00 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="130" value="1:30 PM"/> &nbsp; 1:30 PM
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <div><small>After Lunch:</small></div>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="200" value="2:00 PM"/> &nbsp; 2:00 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="230" value="2:30 PM"/> &nbsp; 2:30 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="300" value="3:00 PM"/> &nbsp; 3:00 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="330" value="3:30 PM"/> &nbsp; 3:30 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="400" value="4:00 PM"/> &nbsp; 4:00 PM
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="time" id="430" value="4:30 PM"/> &nbsp; 4:30 PM
                                                </label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-0 pb-4 rounded">
                    <div class="col text-right mr-5 pr-0 createAppointmentSubmitBtn">
                        <button class="btn btn-primary btn-lg" type="submit">Book appointment</button>
                    </div>
                </div>
            </form>
        </section>
    </div>



<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
</body>
</html>