<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Directions')"></head>

<body class="medical-blue">
<nav th:replace="partials :: navbar"></nav>

<!--<div class="container mt-3 bg-light">-->
    <!--<section class="row">-->
        <!--<h1 class="mx-auto">Directions to Appointment</h1>-->
        <!--<input title="location" type="hidden" id="location" name="location" th:value="${location}"/>-->
    <!--</section>-->
    <!--<section class="row mb-2">-->
        <!--<div class="col-8 map-style" id="map"></div>-->
        <!--<div class="col-4 directions" id="directionsPanel"></div>-->
    <!--</section>-->
<!--</div>-->

<div class="container mt-3">
    <div class="card p-3 mapCard">
        <div class="card-body">
            <div class="row">
                <h1 class="mx-auto">Directions to Appointment</h1>
                <input title="location" type="hidden" id="location" name="location" th:value="${location}"/>
            </div>
            <section class="row mb-2">
                <div class="col-lg-8 col-12 map-style" id="map"></div>
                <div class="col-lg-4 col-12 directions" id="directionsPanel"></div>
            </section>
        </div>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVCLXtazqEfk7wHZoWCaMtzHAaPMSp6Kk"></script>
<script src="/js/directions.js"></script>
</body>
</html>