<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Directions')"></head>

<body class="medical-blue">
<nav th:replace="partials :: navbar"></nav>

<div class="container mt-5 mb-5 pb-5">
    <div class="header text-light text-left">
        <h1>Directions to Appointment</h1>
        <input title="location" type="hidden" id="location" name="location" th:value="${location}"/>
    </div>
    <div class="card p-3 mapCard">
        <div class="card-body">
            <section class="row mb-2">
                <div class="col-lg-8 col-12 map-style pl-lg-0 pl-1" id="map"></div>
                <!--made bg white so it stands out when scrolling-->
                <div class="col-lg-4 col-12 directions mt-lg-0 mt-3 bg-white" id="directionsPanel"></div>
            </section>
        </div>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVCLXtazqEfk7wHZoWCaMtzHAaPMSp6Kk"></script>
<script src="/js/directions.js"></script>
</body>
</html>