<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head(appointments)"></head>
<body>

<nav th:replace="partials :: navbar"></nav>
<h1>Here are your appointments!</h1>
<body th:replace="dashboard :: profileBody"/>


   <!--<div class="container">-->
            <!--<div class="table-responsive table-bordered table-hover">-->
                <!--<table class="table table-striped w-100" align="center">-->
                    <!--<caption>Click patient's name to view profile</caption>-->

                    <!--&lt;!&ndash;<form method="GET" th:action="@{/appointments/{id}(id=${appointment.getId()})}" th:id="${appointment.getId()}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3 th:text="${appointment.getTime()()}"></h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p th:text="${appointment.getLocation()}"></p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->

                    <!--<thead class="bg-info">-->
                        <!--<tr>-->
                            <!--<th scope="col">Name</th>-->
                            <!--<th scope="col">Time</th>-->
                            <!--<th scope="col">Clinic</th>-->
                            <!--<th scope="col">Profile</th>-->
                        <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->

                        <!--<tr th:each="appointment : ${appointments}" th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'" class="table-row" data-th-href="@{/appointments/{id}(id=${appointment.getId()})}" th:id="${appointment.getId()}">-->
                            <!--&lt;!&ndash;<div th:onclick="'document.getElementById(\'' + ${appointment.getId()} + '\').submit();'">&ndash;&gt;-->
                                <!--<td th:text="${appointment.getTime()()}"></td>-->
                                <!--<td th:text="${appointment.getLocation()}"></td>-->
                                <!--<td th:text="${appointment.getId()}"></td>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>Stephen Ray Guedea</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>Jan 24, 2019 2:00PM</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>210-323-5841 sguedea@yahoo.com</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>view profile</td>&ndash;&gt;-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
    <!--</div>-->

<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
</body>
</html>